body{
    background-color: rgb(255, 255, 255);
}
.icon{
width:3rem ;
}
img{
    max-width: 100%;
}
.gr{
    background-color: #130285;
}
.name{
    text-decoration: none;
  display: flex;
}
.game{
    color: rgb(255, 255, 255); 
    margin-left: 7%;
    font-family: 'Permanent Marker', cursive;
}

.full{
    background-image: url(12.png);
    background-size:cover ;
    background-position: 85% 50%;
    

}
.full2{
    background-image: url(23.png);
    background-size:cover ;
    background-position: 80% 50%;
    padding-bottom: 20%;

}
.full3{
    background-image: url(4542.png);
    background-size:cover ;
    background-position: 80% 50%;
    padding-bottom: 20%;


}
.full4{
    background-image: url(452.png);
    background-size:cover ;
    background-position: 80% 50%;
    padding-bottom: 2%;


}

.olo{
    border-radius: 40px;
}
.fooc{
  border: 3px solid snow;
    border-radius: 40px;
    margin-top: 80px;
    padding-top: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 992px) {
    .fooc{
        background-color: rgba(255, 255, 255, 0.484);
    }
}
.text{
    margin-top: 4.7%;
}
.ku{
    color: rgb(219, 124, 7);
}
.ho{
  margin-top: 20%;
  
  margin-left: 10%;
    color: rgb(255, 255, 255);
    list-style-type:decimal;
    list-style-image: url(1.png);
    font-size:2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 100; 
}
.ho2{
    
    margin-left: 10%;
      color: rgb(255, 255, 255);
      list-style-type:decimal;
      list-style-image: url(2.png);
      font-size:2rem;
      font-family:Georgia, 'Times New Roman', Times, serif;
      font-weight: 100; 
  }
  .ho3{
    
    margin-left: 10%;
      color: rgb(255, 255, 255);
      list-style-type:decimal;
      list-style-image: url(3.png);
      font-size: 2rem;
      font-family:Georgia, 'Times New Roman', Times, serif;
      font-weight: 100; 
  }
  .ho4{
    
    margin-left: 10%;
      color: rgb(255, 255, 255);
      list-style-type:decimal;
      list-style-image: url(4.png);
      font-size: 2rem;
      font-family:Georgia, 'Times New Roman', Times, serif;
      font-weight: 100; 
  }
  .ho5{
    
    margin-left: 10%;
      color: rgb(255, 255, 255);
      list-style-type:decimal;
      list-style-image: url(5.png);
      font-size:2rem;
      font-family:Georgia, 'Times New Roman', Times, serif;
      font-weight: 100; 
      margin-bottom: 35%;
  }
  .tj{
      margin-top: 120%;
  }
  .first{
      background-color: rgb(29, 29, 29);
  }
  .home{
      width: 150%;
  }
  .jo {
     padding-top: 3%;
font-size: 16px;
margin-left: 1%;
color: rgb(255, 255, 255);
list-style-type:decimal;
list-style-image: url(1.1.png);
font-family:Georgia, 'Times New Roman', Times, serif;
font-weight: 100; 
  }
  .jo1 {
    padding-top: 3%;
font-size: 16px;
margin-left: 1%;
color: rgb(255, 255, 255);
list-style-type:decimal;
list-style-image: url(1.2.png);
font-family:Georgia, 'Times New Roman', Times, serif;
font-weight: 100; 
 }
 .jo2 {
    padding-top: 3%;
font-size: 16px;
margin-left: 1%;
color: rgb(255, 255, 255);
list-style-type:decimal;
list-style-image: url(1.3.png);
font-family:Georgia, 'Times New Roman', Times, serif;
font-weight: 100; 
 }
 .jo3 {
    padding-top: 3%;
font-size: 16px;
margin-left: 1%;
color: rgb(255, 255, 255);
list-style-type:decimal;
list-style-image: url(1.4.png);
font-family:Georgia, 'Times New Roman', Times, serif;
font-weight: 100; 
 }
 .jo4 {
    padding-top: 3%;
font-size: 16px;
margin-left: 1%;
color: rgb(255, 255, 255);
list-style-type:decimal;
list-style-image: url(1.5.png);
font-family:Georgia, 'Times New Roman', Times, serif;
font-weight: 100; 
 }

 .information{
    background-image: linear-gradient(to right top, #f49605, #f69102, #f88c00, #fa8700, #fc8200, #fd7c08, #fe7610, #ff7016, #ff6820, #ff6028, #ff582f, #ff5036);
     border-radius: 50px;
    margin-left: 70%;
    padding: 5px 10px;
   
  margin-right: -10px ;
 }
 .information:hover {
        background-image: linear-gradient(to right, #05cbf4, #00c5f8, #00bffb, #00b8fe, #00b1ff, #00a8ff, #009eff, #0094ff, #0084ff, #1d71ff, #4d59ff, #7336ff);
   color: snow;
   border: 0px solid rgb(0, 195, 255);
text-shadow: 1px 1px 1px #130285;
    }


  .fuflik{
      text-align: center;
      font-weight: 500;
  }
  .text121{
    color: rgb(0, 0, 0);
    font-size: 2rem;
font-weight: 700;
 text-align: center;

}
.text22{
    color: rgb(0, 0, 0);
    font-size: 15px;
 margin-left: 10%;

}
.ht{
    text-decoration: none;
}
.ht:hover{
    color: rgb(75, 0, 29);
    border: 0px solid rgb(0, 195, 255);
 text-shadow: 1px 1px 1px #130285;

}
.hto{
    text-decoration: none;
    margin-top: -10%;  
}
.hto:hover{
    color: rgb(75, 0, 29);
    border: 0px solid rgb(0, 195, 255);
 text-shadow: 1px 1px 1px #130285;

}
.htoooo:hover{
    color: rgb(75, 0, 29);
    border: 0px solid rgb(0, 195, 255);
 text-shadow: 1px 1px 1px #130285;

}
.ht2{
    text-decoration: none;  
    margin-top: -16%;
}
.ht2:hover{
    color: rgb(75, 0, 29);
    border: 0px solid rgb(0, 195, 255);
 text-shadow: 1px 1px 1px #130285;

}
.htoo:hover{
    color: rgb(75, 0, 29);
    border: 0px solid rgb(0, 195, 255);
 text-shadow: 1px 1px 1px #130285;

}
.htoo{
    text-decoration: none;
    margin-top: 7%;  
}
.htoooo{
    text-decoration: none;
    margin-top: 7%;  
}
.core{ 
    border: 1px solid rgba(255, 255, 255, 0.199);
    width: 50%;
  height: 20%;
  padding-top: 5%; 
  margin-left: 20%;  
}
.cor{
    border: 1px solid rgba(255, 255, 255, 0.199);
    width: 50%;
  height: 20%;
  padding-top: 5%; 
margin-left: 2%;
}
.fooo{
    background-image: linear-gradient(to right, #ffffff, #f7f7f7, #efefef, #e7e7e7, #dfdfdf, #d9d9d9, #d4d4d4, #cecece, #c9c9c9, #c4c4c4, #c0c0c0, #bbbbbb);

border: 3px solid rgb(255, 255, 255);
border-radius: 20px;
}
.fooo2{
    background-image: linear-gradient(to right, #ffffff, #f7f7f7, #efefef, #e7e7e7, #dfdfdf, #d9d9d9, #d4d4d4, #cecece, #c9c9c9, #c4c4c4, #c0c0c0, #bbbbbb);
display: flex;
border: 3px solid rgb(255, 255, 255);
border-radius: 20px;
}
.dor{
    width:40%;
    margin-left: 55%;
    margin-bottom: 3%;
}
.lolo{
    margin-top: 4%;
}
.dor22{
    width:20%;
    margin-left: 70%;
   margin-top: -2.1%;
}
.text3{
    padding-bottom: -10%;
}
.tovaru{
    color: white;
    text-align: center;
}
@media screen and (max-width: 992px) {
    .ht{
        margin-top: 2%;
        width: 100%;
    }
    .ht2{
        margin-top: 2%;
        width: 100%;
    }
    .htd{
        text-decoration: none;
        margin-top: 7%; 
        display: flex;
    }
}
.full5{
background-image: url(5834.png);
}
.golo{
    margin-top: 15%;
    
}
.telefon{
   margin-left: 10%;
}
.jolojo{
    text-align: center;
    color: #ffffff;
}
.information2{
    background-image: linear-gradient(to right top, #f49605, #f69102, #f88c00, #fa8700, #fc8200, #fd7c08, #fe7610, #ff7016, #ff6820, #ff6028, #ff582f, #ff5036);
     border-radius: 50px;
   
    padding: 10px 15px;
   
margin-left: 18%;
 }
 .information2:hover {
        background-image: linear-gradient(to right, #05cbf4, #00c5f8, #00bffb, #00b8fe, #00b1ff, #00a8ff, #009eff, #0094ff, #0084ff, #1d71ff, #4d59ff, #7336ff);
   color: snow;
   border: 0px solid rgb(0, 195, 255);
text-shadow: 1px 1px 1px #130285;
    }
    .ok{
        margin-top: 21%;
    }
    .fpp{
        color: #ffffff;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
    }
    .fppp{
        color: #ffffff;
        font-weight: 600;
        font-size: 10px;
        text-align: center;
        margin-top: 10%;
    }
    .coooo{
        color: #cbcbcb; 
        text-align: center;
        font-size: 16px;
    }

    .doc{
        color: #fb9700;
    text-align: center;
    margin-top: 3%;
    }
    .so{
        text-align: center;   
    }
